@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.no-page body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    background-color: #ffefef;
}